.separate{
    margin-top: 10px;
}
.headers{
    text-align: center;
    color: black;
}
.navsep{
    padding: 4px 4px;
}
.border-left-primary{
    border-left: 5px solid blue;
}
.border-left-warning{
    border-left: 5px solid orange;
}
.border-left-success{
    border-left: 5px solid green;
}